input {
  width: 100%;
  height: 100%;
  position: relative;
}

div#dropDownContainer {
  z-index: 10;
  position: absolute;
  background-color: lightgray;
  left: 50%;
  width: 50%;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: -4px;
  cursor: pointer;
}
