<app-button
  btnType="primary"
  btnSize="small"
  btnText="Save"
  btnWidth="100px"
  btnHeight="30px"
  [isIconPresent]="true"
  iconLabel="banana"
  *ngIf="show"
  (buttonClickEmitter)="btnClickHanlder()"
></app-button>

<app-button
  btnType="normal"
  btnSize="small"
  btnText="Save"
  [isIconPresent]="false"
  *ngIf="show"
  (buttonClickEmitter)="btnClickHanlder()"
></app-button>
<app-text-input
  textWidth="200px"
  textHeight="30px"
  iconLabel="cross"
  (textInputEmitter)="getInputText($event)"
></app-text-input>
<app-dropdown-singleselect
  (dropDownSelectEmitter)="getSelectedText($event)"
></app-dropdown-singleselect>
