#btn {
  border-radius: 5px;
  font-size: 10px;
  color: black;
  margin: 5px;
}

.withoutIcon {
  text-align: center;
}

.withIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small {
  width: 100px;
  height: 30px;
}
.large {
  width: 200px;
  height: 32px;
}

.primary {
  background-color: lightgrey;
}

.normal {
  background-color: white;
}
