#btn {
  border-radius: 5px;
  font-size: 10px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.small {
  width: 100px;
  height: 30px;
}
.large {
  width: 200px;
  height: 32px;
}

.primary {
  background-color: lightblue;
}
