<div class="formborder">
  <div class="maintitle">Login to Your Account</div>
  <div class="subtitle">Login using social networks</div>
  <div class="socialnet">
    <button class="facebook">f</button>
    <button class="google">G+</button>
    <button class="linkedin">in</button>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="username">
      <input formControlName="email" type="text" placeholder="Email" />
    </div>
    <div class="password">
      <input
        formControlName="password"
        type="password"
        placeholder="Password"
      />
    </div>
    <button class="submit" type="submit">Sign In</button>
  </form>
</div>
