/*https://stackoverflow.com/questions/46835672/absolute-position-div-goes-out-of-window-when-opening-console*/
#signup-backgroud {
  background-color: blueviolet;
  width: 100%;
  height: 100vh;
  position: relative;
}

#signup-form {
  background-color: white;
  width: 500px;
  height: 550px;
  z-index: 2;
  position: absolute;
  top: 5%;
  left: 30%;
  border-radius: 10px;
}

input {
  border-radius: 10px;
  width: 50%;
  height: 20px;
  padding: 5px;
  margin-left: 25%;
  margin-top: 5%;
  background-color: lightgray;
  color: black;
}

button {
  border-radius: 10px;
  width: 20%;
  height: 10%;
  padding: 5px;
  margin-left: 40%;
  margin-top: 20px;
  background-color: lightgray;
  color: black;
}

.title {
  margin-left: 45%;
  margin-top: 20px;
  font-size: large;
  font-weight: 700;
}
