<div id="signup-backgroud">
  <div id="signup-form">
    <div class="title">Sign Up</div>
    <form [formGroup]="signupForm" (ngSubmit)="submit()">
      <div id="formgrp" class="input">
        <input
          formControlName="firstname"
          type="text"
          placeholder="First Name"
          (change)="enterFirstName()"
        />
        <input
          formControlName="lastname"
          type="text"
          placeholder="Last Name"
          (change)="enterLastName()"
        />
      </div>
      <div id="formgrp" class="input">
        <input
          formControlName="email"
          type="email"
          placeholder="Email"
          (change)="enterEmail()"
        />
        <input
          formControlName="phone"
          type="text"
          placeholder="Phone"
          (change)="enterPhone()"
        />
      </div>
      <div id="formgrp" class="input">
        <input
          formControlName="address"
          type="text"
          placeholder="Address"
          (change)="enterAddress()"
        />
        <input
          formControlName="username"
          type="text"
          placeholder="UserName"
          (change)="enterUserName()"
        />
      </div>
      <div id="formgrp" class="input">
        <input
          formControlName="password"
          type="password"
          placeholder="Password"
          (change)="enterPassword()"
        />
        <input
          formControlName="confirmpassword"
          type="password"
          placeholder="Confirm Password"
          (change)="enterPassword()"
        />
      </div>

      <button class="submit" type="submit">Register</button>
    </form>
  </div>
</div>
