/*https://stackoverflow.com/questions/46835672/absolute-position-div-goes-out-of-window-when-opening-console
https://stackoverflow.com/questions/3250790/making-a-div-that-covers-the-entire-page
https://www.w3docs.com/snippets/css/how-to-horizontally-center-a-div-in-another-div.html#:~:text=Use%20the%20%22inline%2Dblock%22,only%20works%20on%20inline%20elements.*/

#signup-backgroud {
  background-color: lightblue;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

#signup-form {
  background-color: white;
  position: fixed;
  left: 30%;
  top: 15%;
  width: 40%;
  height: 70%;
  border-radius: 10px;
  align-items: center;
  padding: 10px;
  text-align: center;
}

form {
  background-color: lightgray;
  border-radius: 10px;
  width: 50%;
  height: 50%;
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
}

input {
  border-radius: 10px;
  width: 30%;
  height: 20px;
  padding: 5px;
  background-color: lightgray;
  color: black;
}

button {
  border-radius: 10px;
  width: 20%;
  height: 10%;
  padding: 5px;
  margin-left: 40%;
  margin-top: 20px;
  background-color: lightgray;
  color: black;
}

.title {
  font-size: large;
  font-weight: 700;
  padding: 10px;
}

div#formgrp {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
